body {
    position: relative;
    margin: 0;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }

  h1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50;
    left: 100;
    font-style: bold;
    font-size: medium;
    color: white;
    text-transform: uppercase;
  }
