button {
    border: var(--border-thickness) solid black;
    padding: .5rem 2rem;
    border-radius: var(--border-radius);
    background-color: var(--clear-btn);
    transition: box-shadow ease 200ms, transform ease 200ms, background-color ease 200ms;
    cursor: pointer;

    &:hover {
        background-color: var(--clear-btn-hover);
        box-shadow: 3px 3px 0px black;
        transform: translate(-3px, -3px);
        color: var(--white);
    }

    &:focus {
        box-shadow: 0 0 0 3px var(--white);
    }
}

.play-pause-button {
    display: flex;
    padding: 0;
    margin-block: 2rem 1rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    &:hover {
        background-color: transparent;
        box-shadow: none;
        transform: none;
    }
}

button:hover .play-path,
button:hover .pause-path {
    fill: var(--play-btn-hover);
}