button {
    border: 1px solid black;
    padding: .5rem 2rem;
    border-radius: .3em;
    background-color: var(--clear-btn);
    transition: box-shadow ease 200ms, transform ease 200ms, background-color ease 200ms;

    &:hover {
        background-color: var(--clear-btn-hover);
        box-shadow: 3px 3px 0px black;
        transform: translate(-3px, -3px);
        cursor: pointer;
    }
}

.play-pause-button {
    display: flex;
    padding-inline: 2rem;
    padding-block: .5rem;
    margin-block-end: 1rem;
    border-radius: .5em;
}

.play-path,
.pause-path {
    position: absolute;
    transition: fill 200ms ease;
}

button:hover .play-path,
button:hover .pause-path {
    fill: rgb(153, 153, 206);
}