.synth__button {
    background-color: var(--light-green);
    border: 2px solid black;
    border-radius: 4px;
}


.drum__button {
    background-color: var(--light-green);
    border: 2px solid black;
    border-radius: 4px;
}