.overlay {
    background: var(--welcome-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: grid;
    place-items: center;
    opacity: 1;
    transition: opacity 500ms ease;

    &__group {
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &--button {
            margin-block: 2em;
        }
    }


}

.hide {
    opacity: 0;
}