#synth-ctrl {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--info-tab);
    border-radius: .5em;
    border: .15em solid black;
    padding: 0;

    .radio-control {
        background-color: var(--waveform-btn);
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;
        width: 7rem;
        border-radius: .5em;
        margin: .5em;
        border: 1px solid black;
        justify-items: flex-end;

        &--input {
            appearance: none;
            margin: 0;
            width: 4em;
            height: 4em;
            box-shadow: inset 4em 4em var(--light-gray);
            border: 1px solid black;
            border-radius: 50%;
            position: relative;
            left: 1.5em;
            display: grid;
            place-content: center;
            transition: box-shadow 150ms ease-in-out;

            &:focus {
                box-shadow: inset 4em 4em var(--light-orange);
            }

            &::before {
                content: "";
                width: 2em;
                height: 2em;
                border-radius: 50%;
                border: 1px solid var(--black);
                transition: box-shadow 150ms ease-in-out;
                box-shadow: inset 2em 2em var(--light-gray);
            }

            &:checked::before {
                box-shadow: inset 2em 2em var(--black);
            }
        }

        svg {
            align-self: center;
            margin-inline-end: .5em;
        }
    }
}

legend {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}