.sequencer, .drum-seq {
    margin-block-end: 2rem;
    display: flex;
    justify-content: center;

    &__column {
        display: flex;
        flex-direction: column;
    }

    .cell {
        margin: 1.4rem;
        position: relative;

        &:focus {
            outline: 1px solid var(--white);
        }

        &.my-turn {
            &::before {
                box-shadow: 1px 1px 10px rgba(77, 96, 101, 0.8), -1px -1px 10px rgba(77, 96, 101, 0.8);
                outline: 1px solid rgba(77, 96, 101, 0.8);
            }
        }
        
        &::before {
            content: "";
            cursor: pointer;
            top: -100%;
            left: -100%;
            position: absolute;
            height: 50px;
            width: 50px;
            background-color: var(--light-gray);
            outline: 1px solid var(--black);
            border-radius: .5em;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
            transition: box-shadow ease 220ms, transform ease 220ms, background-color ease 220ms;
        }

        &:hover::before {
            background-color: hsl(0, 0%, 70%);
            box-shadow: 3px 3px 0px black;
            transform: translate(-3px, -3px);
        }

        &:focus::before {
            border: 1px solid var(--black);
        }
    }

    .cell1 {
        &:hover::before {
            background: var(--synth-row1);
        }
        &:checked::before {
            background: var(--synth-row1);
        }
    }

    .cell2 {
        &:hover::before {
            background: var(--synth-row2);
        }

        &:checked::before {
            background: var(--synth-row2);
        }
    }

    .cell3 {
        &:hover::before {
            background: var(--synth-row3);
        }

        &:checked::before {
            background: var(--synth-row3);
        }
    }

    .cell4 {
        &:hover::before {
            background: var(--synth-row4);
        }

        &:checked::before {
            background: var(--synth-row4);
        }
    }

    .cell5 {
        &:hover::before {
            background: var(--synth-row5);
        }

        &:checked::before {
            background: var(--synth-row5);
        }
    }

    .cell6 {
        &:hover::before {
            background: var(--synth-row6);
        }

        &:checked::before {
            background: var(--synth-row6);
        }
    }

    .drum-seq .cell {
        &.my-turn {
            &::before {
                box-shadow: 1px 1px 10px rgba(77, 96, 101, 0.8), -1px -1px 10px rgba(77, 96, 101, 0.8);
                outline: 1px solid rgba(77, 96, 101, 0.8);
            }
        }
    }

    .drum-seq__column .cell1 {
        &:hover::before {
            background: var(--drum-row1);
        }

        &:checked::before {
            background: var(--drum-row1);
        }
    }

    .drum-seq__column .cell2 {
        &:hover::before {
            background: var(--drum-row2);
        }

        &:checked::before {
            background: var(--drum-row2);
        }
    }

    .drum-seq__column .cell3 {
        &:hover::before {
            background: var(--drum-row3);
        }

        &:checked::before {
            background: var(--drum-row3);
        }
    }

    .drum-seq__column .cell4 {
        &:hover::before {
            background: var(--drum-row4);
        }

        &:checked::before {
            background: var(--drum-row4);
        }
    } 

}