.sequencer, .drum-seq {
    margin-block-end: 2rem;
    display: flex;
    justify-content: center;

    &__column {
        display: flex;
        flex-direction: column;
    }

    .cell, .cell2, 
    .cell3, .cell4, 
    .cell5, .cell6 {
        margin: 1.4rem;
        position: relative;

        &:focus {
            outline: none;
        }

        &.my-turn {
            &::before {
                box-shadow: 1px 1px 10px rgba(77, 96, 101, 0.8), -1px -1px 10px rgba(77, 96, 101, 0.8);
                outline: 1px solid rgba(77, 96, 101, 0.8);
            }
        }
        
        &::before {
            content: "";
            cursor: pointer;
            top: -100%;
            left: -100%;
            position: absolute;
            height: 50px;
            width: 50px;
            background: var(--light-gray);
            border-radius: .5em;
            outline: 1px solid var(--black);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        }

        &:checked::before {
            background: var(--synth-row1);
        }

        &:hover::before {
            background: hsl(0, 0%, 70%);
            box-shadow: 3px 3px 0px black;
            transform: translate(-3px, -3px);
        }

        &:focus::before {
            outline: 2px solid black;
        }
    }

    &__column2, &__column3,
    &__column4, &__column5,
    &__column6, &__column7,
    &__column8, &__column9,
    &__column10, &__column11,
    &__column12, &__column13,
    &__column14, &__column15,
    &__column16, .cell2 {
        &:checked::before {
            background: var(--synth-row2);
        }
    }

    .cell3 {
        &:checked::before {
            background: var(--synth-row3);
        }
    }

    .cell4 {
        &:checked::before {
            background: var(--synth-row4);
        }
    }

    .cell5 {
        &:checked::before {
            background: var(--synth-row5);
        }
    }

    .cell6 {
        &:checked::before {
            background: var(--synth-row6);
        }
    }


    .drum-seq__column .cell {
        &:checked::before {
            background: var(--dark-green);
        }
    }

}