body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(219, 219, 219);
    margin: 0;
}

h1 {
    color: black;
}

button {
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

.play-pause-button {
    display: flex;
    padding-inline: 2rem;
    padding-block: .5rem;
    margin-block-end: 1rem;
    border-radius: .5em;
}

.play-path,
.pause-path {
    position: absolute;
    transition: fill 200ms ease;
}

button:hover .play-path,
button:hover .pause-path {
    fill: rgb(153, 153, 206);
}


#vol-ctrl,
#tempo-ctrl,
#synth-ctrl {
    display: flex;
    min-width: 250px;

    p {
        margin: 0;
        align-self: center;
        padding-inline-end: .5em;
    }
}

.sequencer, .drum-seq {
    margin-block-end: 2rem;
    display: flex;
    justify-content: center;

    &__column {
        display: flex;
        flex-direction: column;
    }

    .cell {
        margin: 1.4rem;
        position: relative;

        &:focus {
            outline: none;
        }

        &.my-turn {
            &::before {
                box-shadow: 1px 1px 10px rgba(77, 96, 101, 0.8), -1px -1px 10px rgba(77, 96, 101, 0.8);
                outline: 1px solid rgba(77, 96, 101, 0.8);
            }
        }
        
        &::before {
            content: "";
            cursor: pointer;
            top: -100%;
            left: -100%;
            position: absolute;
            height: 50px;
            width: 50px;
            background: rgba(153, 153, 206);
            border-radius: .5em;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        }

        &:checked::before {
            background: #4d6065;
        }

        &:hover::before {
            background: rgb(193, 193, 196);
        }

        &:focus::before {
            outline: 2px solid black;
        }
    }

}

.settings {
    display: flex;
    align-items: center;
}

.overlay {
    background: rgb(32, 128, 192);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: grid;
    place-items: center;
    opacity: 1;
    transition: opacity 500ms ease;

    &__group {
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &--button {
            border: 1px solid black;
            padding: 1rem .5rem;
            border-radius: 1em;
            background-color: rgb(139, 82, 168);
            transition: box-shadow ease 200ms, transform ease 200ms;

            &:hover {
                box-shadow: 3px 3px 0px black;
                transform: translate(-3px, -3px);
            }
        }
    }
}

.hide {
    opacity: 0;
}