:root {
    --dark-purple: #800080;
    --dark-blue: #2F2FE1;
    --dark-red: #B42424;
    --dark-green: #1DAA62;
    --light-blue: #0D98BA;
    --light-green: #9ACD32;
    --light-orange: #FFA500;
    --dark-pink: #C71585;
    --light-red: #FF5349;

    --black: #000000;
    --dark-gray: #5c5c5c;
    --medium-gray: #AAAAAA;
    --light-gray: #d2d2d2;
    --white: #ffffff;

    --purple-100: #b8b9ff;
    --purple-200: #8d8ed1;
    --purple-300: #7e80cb;
    --purple-400: #626397;

    --background-color: var(--purple-300);
    --slider: var(--light-orange);
    --slider-btn: var(--light-red);
    --info-tab: var(--purple-100);
    --info-tab-btn: var(--light-green);
    --waveform-btn: var(--light-green);
    --synth-row1: var(--light-blue);
    --synth-row2: var(--light-red);
    --synth-row3: var(--dark-pink);
    --synth-row4: var(--light-orange);
    --synth-row5: var(--light-green);
    --synth-row6: var(--light-blue);
    --drum-row1: var(--dark-green);
    --drum-row2: var(--dark-red);
    --drum-row3: var(--dark-purple);
    --drum-row4: var(--dark-blue);
    --clear-btn: var(--light-orange);
    --play-btn: var(--black);
}

// body {
//     background-color: var(--background-color);
// }

// .pro-mode-btn{
//     color: var(--pro-mode-btn);
// }